#client_table_head {
    background: rgb(173,58,60);
    color: #fff;
}

.row_client_button, .row_client_button_project {
    margin-bottom: 10px;
}

.row_client_button a, .row_client_button_project a {
    font-size: 10px;
}

.pagination {
    margin-top: 5px;
}

.button_back {
    margin-left: 20px;
}

#payment_terms, #body {
    height: 100px;
}

#client_table_head th a {
    color: #fff;
}

.table_clients tr td:first-child {
    text-align: center;
}

.alert {
    z-index: 1;
    width: 100%;
}

.container {
    margin-top: 65px;
}

.back_contacts {
    margin-bottom: 10px;
}

.info_buttons {
    margin-bottom: 0.5em;
}

.info_buttons a {
    font-size: 0.8em;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

/* Info page styles */

#info_page {
    background-color: rgb(242, 242, 242);
    color: #666666;
}

#info_page ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-y:auto;
    /*min-height: 100px;*/
}

#info_page ul li {
    padding: 5px 10px;
}

#info_page ul li:nth-child(even) {
    background-color: #fafafa;
}

#info_page ul li a {
    color: #666666;
    text-decoration: none;
}

#info_page ul li a.active {
    font-weight: bold;
}

#info_page .container {
    margin-top: 0;
}

#info_page .sidebar_button {
    color: #666666;
    font-size: 2em;
    display: inline-block;
    opacity: 0.5;
}

#info_page .sidebar_button.active, #info_page .sidebar_button:hover {
    opacity: 1;
}

#info_page .sidebar_button:not(:first-child) {
    margin-left: 0.5em;
}

#info_page .info_block {
    background: #fafafa;
    padding-top:40px;
}

#info_page .sidebar {
    border-right: 1px solid rgb(158, 158, 158);
    border-left: 1px solid rgb(158, 158, 158);
}

#info_page .sidebar_buttons {
    border-bottom: 1px solid rgb(158, 158, 158);
    text-align: center;
}

#info_page .info_block h1 {
    margin-top: 0;
}

#info_page {

    /*position: fixed;*/
    /*top:0;*/
    /*left:0;*/
    /*right: 0;*/
    /*bottom:0;*/
}

#info_page .info_block table th,
#info_page .info_block table td{
    border:none;
}

#info_page .info_block tbody tr:nth-child(odd) {
    background-color: rgb(239, 239, 239);
}

#info_page .info_buttons .table {
    display: table;
    table-layout: fixed;
    width:100%;
    margin: 0;
}
#info_page .info_buttons .cell {
    display: table-cell;
    width: 1%;
    padding: 0 .25em;
}

#contact_details_block .company_name {
    font-size: 1.2em;
}

.info_buttons_project {
    margin-bottom: 20px;
}

#contact_details_project_block .table td {
    border: none !important;
}

#contact_details_project_block .table {

}


.btn-primary {
    color: #fff;
    background-color: #ee851b;
    border-color: #ee851b;
}


.sidebar li.active.open > a:first-child {
    background-color:#ee851b;
    color: #fff;
    border-color: #ee851b;
	
}

 
.btn-primary:hover {
    color: #333;
    background-color: #fff;
    border-color: #ee851b;
	}



.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #ee851b;
    border-color: #ee851b;
	color:#333;
}



.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #ee851b;
    border-color: #ee851b;
}

#client_table_head {
    background: #fff;
    color: #333;
}


a {
    color: #333;
    text-decoration: none;
}

a:focus, a:hover {
    color: #333;
    text-decoration: underline;
} 


#info_page .sidebar_button:not(:first-child) {
	
	margin-left: 0em; 
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ee851b;
    border-color: #ee851b;
}
.highlighted {
	background-color:#F6C28D!important;
	color:#333!important;
	
}

.highlighted a {
	color:#333!important;
}
.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #ee851b;
    border-color: #ee851b;
}
